*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header h1{
	color: white;
	padding-top: 4%;
  padding-left: 8%;
}
.container {
  max-width: 1200px;
  margin: 10px auto;
  position: relative;F
  top: -250px;
 }
 .box {
  max-width: 395px;
  width: 100%;
  vertical-align: top;
}
.box img {
  width: 360px;
  height: 320px;
  object-fit: cover;
  display: flex;  
  border-radius: 20px;
  margin-top: 60px;
}
.box {
  position: relative;
}
.box p {
  position: absolute;`
  width: 60%;
  background-color: white;
  background-color: white;
  background-color: white;
  padding: 5px;
  bottom: 20px;
  right: 50px;
}
.box:first-child {
  float: left;
}

.box:last-child {
  float: right;
}

.box:nth-child(2n) {
  margin: 0 auto;
  margin-bottom: -320px;
}
.tiny-text {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  padding-left: 1200px;
  margin-top: 12%;
  text-align: right;
}